<div class="row ms-3">
  <div class="col-lg-12">
    <div class="card m-3">
      <div class="card-body">
        <div class="d-flex justify-content-between mt-3">
          <div class='h3'>
             Manage Tasks :
          </div>
          <div class="">
            <a routerLink="/task/add" class="btn btn-info">Add Task</a>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="table-responsive">
          <table class="table mt-5 mb-3" id="myTable">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description </th>
              <th scope="col">StartDate</th>
              <th scope="col">EndDate</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of taskList$ | async" id="1">
              <th scope="row"> {{task.id}} </th>
              <td> {{task.title}} </td>
              <td> {{task.description}} </td>
              <td> {{task.startDate}} </td>
              <td> {{task.endDate}} </td>
              <td> {{task.status}} </td>
              <td class="d-flex justify-content-center">
                <div class="me-3">
                  <form action=" " method="GET">
                  <button type="submit"
                          class="btn btn-outline-warning border border-light"> <i class="bi bi-pencil"></i> Edit</button>
                  </form>
                </div>
                <div class="me-3">
                  <form action="" method="POST" id="form">
                  <button type="submit"  class="btn btn-outline-danger border border-light"> <i class="bi bi-trash"></i> Delete</button>
                  </form>
                </div>
                <div>
                  <button class="btn btn-outline-info border border-light"> <i class="bi bi-eye"></i> Show</button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
